@{
    //vista de la sesión
    ViewBag.Title = "Sesión";
    Layout = "~/Views/Shared/_LayoutSesion.cshtml";
}

<!--.jarallax-->
<div class="">

    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12 col-sm-12">

                <!--Modal: Login / Register Form-->
                <div class="modal fade" id="modalLRForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
                    
                        <div class="modal-dialog cascading-modal" role="document">
                            <!--Content-->
                            <div class="modal-content">

                                <!--Modal cascading tabs-->
                                <div class="modal-c-tabs">

                                    <!-- Nav tabs -->
                                    <ul class="nav nav-tabs tabs-2 blue accent-3" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active  " data-toggle="tab" href="#panel1" role="tab" onclick="cerrarpanel2()" id="btnSesion"><i class="fa fa-user mr-1"></i> Iniciar Sesión Administrador</a>
                                        </li>
                                    </ul>

                                    <!-- Tab panels -->
                                    <div class="tab-content">
                                        <!--Modal 1-->
                                        @{
                                            Html.RenderPartial("ViewPartialLoginAdmin", new WebAppCargadorRips_V2.Models.LoginViewModelAdmin());
                                        }

                                        <!--/.Modal 1-->

                                    </div>

                                </div>
                            </div>
                            <!--/.Content-->
                        </div>
                    </div>
                    <!--Modal: Login / Register Form-->

                </div>

            </div>

    </div>

</div>
<!--/.jarallax-->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}