
@{
    ViewBag.Title = "Tablero de Mando";
}

<h2>Index</h2>

<div class="row wow fadeIn" id="listamandos">

</div>


@section Scripts {

    @Scripts.Render("~/JSPaginas/tablerojs"),

    <script>

        $(document).ready(function () {

        });

    </script>

}