  <!--Footer-->
<footer class="footer">
    <div class="container-fluid">
        <div class="alert alert-info">
            <div class="row">
                <div class="col-md-12 col-sm-12 text-center">
                    <img src="@Url.Content("~/Img/logos/alcaldia_logo2.png")" alt="Bogotá" width="auto" height="40">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12 col-sm-12 text-center">
                    <strong>Información RIPS</strong>
                    <br>
                    <strong>Correo: asistenciarips@saludcapital.gov.co | Telefono: 3649675</strong>
                </div>
                <div class="col-md-12 col-sm-12 text-center">
                    &copy; @DateTime.Now.Year | Versión 2.0.0
                </div>
            </div>
        </div>
    </div>
</footer>
<!--/.Footer-->
