  <!--Footer-->
<footer class="footer">
    <div class="container-fluid">
        <div class="alert alert-info">
            <div class="row">
                <div class="col-md-12 col-sm-12 text-center">
                    <img src="@Url.Content("~/Img/logos/alcaldia_logo2.jpg")" alt="Bogotá" width="auto" height="40">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 text-center">
                    <strong>SECRETARÍA DISTRITAL DE SALUD | Subsecretaría de Gestión y Planeación Sectorial | Dirección de Planeación Sectorial</strong>
                </div>
                <div class="col-md-12 col-sm-12 text-center">
                    &copy; @DateTime.Now.Year | Versión 1.3.0
                </div>
            </div>
        </div>
    </div>
</footer>
<!--/.Footer-->
