@{
    ViewBag.Title = "Administración";
}

    <!-- Heading -->
    <div class="card mb-4 wow fadeIn">

        <!--Card content-->
        <div class="card-body d-sm-flex justify-content-between">

            <h4 class="mb-2 mb-sm-0 pt-1">
                <a href="#" target="_blank">AYUDA</a>
            </h4>         
        </div>

    </div>
    <!-- Heading -->
    <!--Grid row-->
    <div class="row wow fadeIn">

        <!--Web API-->
        <!--Grid column-->
        <div class="col-lg-3 col-md-3 mb-4">

            <!-- Card -->
            <div class="card">

                <!-- Card image -->
                <div class="view overlay">
                    <img class="card-img-top" src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" alt="Card image cap">
                    <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!-- Card content -->
                <div class="card-body">

                    <!-- Title -->
                    <h4 class="card-title">
                        Web APIS
                    </h4>
                    <!-- Text -->
                    <p class="card-text">Visualice cada uno de los servicios REST que funcionan con la plataforma.</p>
                    <!-- Button -->
                    <a href="@Url.Action("Index", "Help")" class="btn btn-primary" target=_blank>Administrar</a>

                </div>

            </div>
            <!-- /Card -->

        </div>
       

    </div>
    <!--Grid row-->
  