@{
    ViewBag.Title = "Listado de carga de RIPS";
}

<!-- Heading -->
<div class="card mb-4 wow fadeIn">

    <!--Card content-->
    <div class="card-body d-sm-flex justify-content-between">

        <h4 class="mb-2 mb-sm-0 pt-1">
            <a href="@Url.Action("Index", "Tablero")">Tablero</a>
            <span>/</span>
            <span>@ViewBag.Title</span>
        </h4>

    </div>

</div>
<!-- Heading -->

<div class="row">

    <div class="col-md-12 col-sm-12">
        <div class="card">
            <div class="card-header card-header-info">
                <h4 class="card-title "> Este módulo le da una visión del estado de sus archivso RIPS cargados.</h4>
                Se presenta lista en orden ascendente por fecha de carga.
            </div>
            <div class="card-body">
                <table id="listaRips" class="table-striped table-responsive">
                    <thead class="text-info">
                        <tr>
                            <th># </th>
                            <th>Tipo Usuario</th>
                            <th>Categoría</th>
                            <th>Periodo Inicio Reportado</th>
                            <th>Periodo Fin Reportado</th>
                            <th>Estado de carga</th>
                            <th>Cod. de carga </th>
                            <th>Estado Validación</th>
                            <th>Radicado</th>
                            <th>Fecha de Carga</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <!--<tbody id="tbodylistarips"></tbody>-->
                    <tfoot>
                        <tr>
                            <th># </th>
                            <th>Tipo Usuario</th>
                            <th>Categoría</th>
                            <th>Periodo Inicio Reportado</th>
                            <th>Periodo Fin Reportado</th>
                            <th>Estado de carga</th>
                            <th>Cod. de carga</th>
                            <th>Estado Validación</th>
                            <th>Radicado</th>
                            <th>Fecha de Carga</th>
                            
                        </tr>
                    </tfoot>

                </table>
            </div>
        </div>
    </div>

</div>

@section Scripts {

    @Scripts.Render("~/bundles/datatablesjs"),
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    @Scripts.Render("~/bundles/listadoripsjs"),

}
