@{
    ViewBag.Title = "LISTADO ARCHIVOS RIPS";
}


<!-- Heading -->
<div class="card mb-4 wow fadeIn">

    <!--Card content-->
    <div class="card-body d-sm-flex justify-content-between">

        <h4 class="mb-2 mb-sm-0 pt-1">

            <span>@ViewBag.Title</span>
        </h4>

    </div>

</div>
<!-- Heading -->
<div class="row">

    <div class="col-md-12 col-sm-12">
        <div class="card">
            <div class="card-header card-header-info">
                <h4 class="card-title "> Este módulo le da una visión del estado de sus archivso RIPS cargados.</h4>
            </div>
            <div class="card-body">
                <table id="listaRips" class="table-responsive">
                    <thead class=" text-info">
                        <tr>
                            <th>#</th>
                            <th>Tipo Usuario</th>
                            <th>Categoría</th>
                            <th>Periodo Inicio Reportado</th>
                            <th>Periodo Fin Reportado</th>
                            <th>Fecha de Carga</th>
                            <th>Estado Validación Preradicación</th>
                            <th>Estado Radicación</th>
                        </tr>
                    </thead>
                    <!--<tbody id="tbodylistarips"></tbody>-->
                    <tfoot>
                        <tr>
                            <th>#</th>
                            <th>Tipo Usuario</th>
                            <th>Categoría</th>
                            <th>Periodo Inicio Reportado</th>
                            <th>Periodo Fin Reportado</th>
                            <th>Fecha de Carga</th>
                            <th>Estado Validación Preradicación</th>
                            <th>Estado Radicación</th>
                        </tr>
                    </tfoot>

                </table>
            </div>
        </div>
    </div>

    <div id="divclaims" style="display:none;">
    </div>
</div>

@section Scripts {

    @Scripts.Render("~/bundles/datatablesjs"),
    @Scripts.Render("~/bundles/listadoripsjs"),

}
